  <h1>Welcome to Atlanta Confoodant!</h1>
  <p>Find your favorite restaurants, discover new ones.</p>
  <p>This is one of the sample apps I am working on, my portfolio can been seen at <%= link_to "StefanSanchez.com", "http://www.stefansanchez.com" %>
